extends ../layouts/default

block intro
  .container
    h1 Favorite Food?

block content
  .container
    if favoriteFoodSubmitted
      h3 Thanks for submitting your favorite food!
    else
      .row: .col-sm-8.col-md-6
      form(method='post')
        input(type='hidden', name='action', value='favoritefood')
        .form-group(class=validationErrors.name ? 'has-error' : null)
          label Name
          input(type='text', name='name.full', value=formData['name.full']).form-control
        .form-group(class=validationErrors.email ? 'has-error' : null)
          label Email
          input(type='email', name='email', value=formData.email).form-control
        .form-group(class=validationErrors.String ? 'has-error' : null)
          label Favorite Food
          input(type='text', name='food', value=formData.food).form-control
        .form-actions
          button(type='submit').btn.btn-primary Send
